{% extends "main.html" %}

{% block body %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">The page you requested could not be found</p>
</div>
{% endblock %}
