{% extends "main.html" %}

{% block body %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ _u.username }}'s Account</h1>
    <p class="lead">Download the software you've purchased</p>
</div>

{% include "checkout_modal.html" %}

<div class="container">
    <div class="card-columns mb-3 text-center">
        {% for purchase in _u.purchases %}
        {% with product = _p.query.filter(_p.id == purchase.id) %}
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my=0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Downloads</h1>
                <ul class="list-group">
                    {% for file in product.files %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/download/{{ purchase.product_id }}/{{ file.id }}">
                            {{ file.name }}
                        </a>
                        <span class="badge badge-primary badge-pill">v{{ file.version }}</span>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}

