{% extends "main.html" %}

{% block scripts %}
<script>
    $(function() {
        var stripe = Stripe('{{ _c("StripePubKey") }}');
        var card = stripe.elements().create('card');
        card.mount('#card-element');
        card.addEventListener('change', function(e) {
            $('#card-errors').text(e.error ? e.error.message : '');
        });
        $('#checkoutForm').submit(function(e) {
            if ($('#stripeToken').val() == '') {
                e.preventDefault();
                stripe.createToken(card).then(function(r) {
                    if (r.error) {
                        $('#card-errors').text(r.error.message);
                    } else {
                        $('#stripeToken').val(r.token.id);
                        $('#checkoutForm').submit();
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block body %}

<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy {{ p.name }}</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form action="/checkout" method="post" id="checkoutForm">
                <div class="modal-body">
                    <p></p>
                    <div class="form-group">
                        <div id="card-element"></div>
                        <small class="form-text text-muted">Payments securely processed by <a href="https://stripe.com/">stripe</a></small>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <input type="hidden" name="stripeToken" id="stripeToken"/>
                    <input type="hidden" name="productId" id="productId" value="{{ p.id }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="checkoutButton">Pay ${{ p.price / 100 }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ p.name }}</h1>
        <p class="lead font-weight-normal">{{ p.description }}</p>
        {% if _u.is_authenticated %}
            {% if p.id in owned %}
                <a class="btn btn-raised btn-primary" href="/account">View in Account</a>
            {% else %}
                <button class="btn btn-raised btn-primary" onclick="$('#checkoutModal').modal('show');">Purchase for ${{ p.price / 100 }}</button>
            {% endif %}
        {% else %}
            <a class="btn btn-raised btn-primary" href="/login">Sign in to Purchase</a>
        {% endif %}
    </div>
</div>

{% endblock %}
